<%-include('../includes/head.ejs')%>
<form class ="add_product">
    <label>Create a new product</label>    
    <input>
</form>
<%-include('../includes/ending.ejs')%>                                      