<!DOCTYPE html>
<html lang="en">
<div class="navigation_bar__container">
    <link rel="stylesheet" href="/css/navigation_bar.css">
    <nav class="navigation_bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/admin/products">Add product</a></li>

        </ul>
    </nav>
</div>