<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/main/main_page.css">
<div class ="main_page">
     <h1>Welcome to my Project</h1>
     <a href="/login">Login</a>
</div>
<div class ="featured_page">
      
</div>
<%- include('./includes/ending.ejs') %>